@import './reset.css';
@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Pacifico&display=swap');
body{
    background-color: #525D7B;
    display:flex;
    align-items: center;
    justify-content: center;
    
    main{
        width:1140px;
        border-radius: 30px;
        margin:50px 0;
        font-family: "Noto Sans KR", sans-serif;
    }
}
@include res(s){
    body{
        main{
            margin:0;
        }
    }
}

// @include res(m){
//     main{
//     width: 600px;
//     }
// }

// @include res(s){
//     main{
//     width: 430px;
//     }
// }