
.root{
    position: relative;
    .img_detail_back{
        position: absolute;
        width:100%;
        height:100%;
        backdrop-filter: brightness(20%);
        top: 0;
        left:0;
        z-index: 20;
    }
    .img_detail{
        position: absolute;
        z-index: 21;
        width:70%;
        height:500px;
        left:15%;
        display:flex;
        flex-direction: column;
        align-items: end;
        gap:20px;
        p{
            width:100%;
            height:100%;
            img{
                width:100%;
                height:100%;
            }
        }
        >img{
            width:30px;
            height:35px;
            margin-right: 20px;
        }
    }
    .addBack {
        // background-color: rgba(0, 0%, 0%,0.5);
        backdrop-filter: brightness(50%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left:0;
        z-index: 10;
    
    }
    
    .addMemo {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        width: 70%;
        // height: 490px;
        background-color: #fff;
        border-radius: 10px;
    
        .addMemoC1 {
            width: 90%;
            margin: 30px auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
    
            .more {
                form{
                    
                    label{
                        display:none;
                    }
                }
                >img:nth-of-type(2){
                    margin-left: 20px;
                }
            }
    
            p {
                color: #D2D2D4;
                font-weight: bold;
                font-size: 20px;
            }
        }
    
        .addMemoC2 {
            width: 90%;
            margin: 0 auto;
            
            .upload_img{
                margin:0 auto;
                // width:80%;
                height:100px;
                overflow: hidden;
                position: relative;
                img{
                    width:100%;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                }
            }
            >form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                input {
                    width: 100%;
                    font-size: 18px;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: none;
                }
    
                input:focus {
                    outline: none;
                }
    
                textarea {
                    width: 100%;
                    font-size: 18px;
                    padding: 10px;
                    border: none;
                    height: 280px;
                }
    
                textarea:focus {
                    outline: none;
                }
            }
        }
    
        .addMemoC3 {
            width: 100%;
            height: 40px;
            background-color: #D2D2D4;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 0 0 10px 10px;
    
            .colorPalette {
                position: absolute;
                transform: translateY(-50%);
                top: 0;
                left: 7%;
    
                
            }
    
            .bookmark {
                position: absolute;
                transform: translateY(-50%);
                right: 8%;
                top: 5%;
    
                
            }
        }
    }
}
.note::-webkit-scrollbar {
    display: none;
  }
.note{
    height:80vh;
    background-color: #F1F4F9;
    padding:20px 0;
    overflow: scroll;
    .search{
        margin:0 auto;
        width:70%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
        position: relative;
        img{
            position: absolute;
            top:20%;
            left:5%;
            cursor: pointer;
        }
        input{
            width:100%;
            height:40px;
            border:none;
            border-radius: 15px;
            padding-left: 60px;
        }
        input::placeholder{
            font-size: 16px;
            color:#b4b4b4;
        }
        
        
    }
    .note_screen{
        display:flex;
        width:70%;
        margin:20px auto;
        justify-content: start;
        gap:20px;
        flex-wrap: wrap;
        .note_add{
            width:160px;
            height:170px;
            background-color: white;
            border-radius: 20px;
            display:flex;
            align-items: center;
            justify-content: center;
            position: relative;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
            .note_contents_day{
                position: absolute;
                bottom:0;
                background-color: #D2D2D4;
                width:100%;
                height:15%;
                border-radius: 0 0 15px 15px;
                display:flex;
                align-items: center;
                p{
                    color:white;
                }
            }
            
        }
        .note_contents{
            width:160px;
            height:170px;
            background-color: white;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
            .imgCheck{
                position: absolute;
                bottom:22%;
                left:10%;
                width:30px;
                height:30px;
            }
            >p{
                    margin:20px;
                    font-size: 16px;
                    font-weight: bold;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-word;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; // 원하는 라인수
                    -webkit-box-orient: vertical
            }
            .note_contents_back{
                ::after{
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FFFFFF 80%);
                    position: absolute;
                    left: 0;
                    top:0;
                    width:100%;
                    height:100%;
                    content: "";
                }
                p{
                    font-size: 14px;
                    line-height: normal;
                    margin:0 20px;
                }
            }
            
            >img{
                position: absolute;
                bottom:10px;
                right:10px;
                z-index: 9;
                width:15px;
            }
            .note_contents_day{
                position: absolute;
                bottom:0;
                width:100%;
                height:15%;
                border-radius: 0 0 15px 15px;
                display:flex;
                align-items: center;
                >p{
                    margin-left: 20px;
                    font-size: 14px;
                    // font-weight: bold;
                    color:white;
                }
            }
        }

    }
}