.note{
    
    background-color: #F1F4F9;
    padding:20px 0;
    .search{
        margin:0 auto;
        width:70%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
        position: relative;
        img{
            position: absolute;
            top:20%;
            left:5%;
            cursor: pointer;
        }
        input{
            width:100%;
            height:40px;
            border:none;
            border-radius: 15px;
            padding-left: 60px;
        }
        input::placeholder{
            font-size: 16px;
            color:#b4b4b4;
        }
        
        
    }
    .note_screen{
        display:flex;
        width:70%;
        margin:20px auto;
        justify-content: space-between;
        gap:20px;
        flex-wrap: wrap;
        .note_add{
            width:160px;
            height:170px;
            background-color: white;
            border-radius: 20px;
            display:flex;
            align-items: center;
            justify-content: center;
            position: relative;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
            .note_contents_day{
                position: absolute;
                bottom:0;
                background-color: #D2D2D4;
                width:100%;
                height:15%;
                border-radius: 0 0 15px 15px;
                display:flex;
                align-items: center;
                
            }
            
        }
        .note_contents{
            width:160px;
            height:170px;
            background-color: white;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
            >p{
                    margin:20px;
                    font-size: 14px;
                    line-height: normal;
            }
            >p:nth-of-type(1){
                font-size: 16px;
                font-weight: bold;
            }
            >p:nth-of-type(2){
                background: linear-gradient(180deg, #111111 0%, rgba(102, 102, 102, 0) 60%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
            >img{
                position: absolute;
                bottom:10px;
                right:10px;
                z-index: 9;
                width:15px;
            }
            .note_contents_day{
                position: absolute;
                bottom:0;
                width:100%;
                height:15%;
                border-radius: 0 0 15px 15px;
                display:flex;
                align-items: center;
                >p{
                    margin-left: 20px;
                    font-size: 14px;
                }
            }
        }

    }
}