@import './mixin';
.todo{
    background-color: #F1F4F9;
    padding:20px 0;
    min-height: 490px;
    border-radius:  0 0 30px 30px;
    .days{
        width:70%;
        margin:20px auto;
        display:flex;
        justify-content: center;
        align-items: end;
        gap:20px;
        p{
            font-weight: bold;
        }
        p:nth-of-type(1){
            font-size: 18px;
            padding: 10px;
        }
        p:nth-of-type(2){
            font-size: 75px;
        }
        p:nth-of-type(3){
            font-size: 40px;
        }
    }
    .todo_text{
        width:70%;
        margin:20px auto;
        position: relative;
        img{
            position: absolute;
            top:25%;
            right:5%;
            cursor: pointer;
        }
        input{
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
            border-radius: 15px;    
            border:none;
            padding-left: 20px;
            width:100%;
            height:50px;
            
        }
        input::placeholder{
            font-size: 16px;
            color:#b4b4b4;
        }
    }
    h2{
        text-align: right;
        width:70%;
        margin: 20px auto 0 auto ;
        
    }
    .screenDiv{
        margin:20px 0;
        
        overflow: scroll;
        .todo_screen{
            width:70%;
            margin:0 auto;
            overflow: hidden;
            
            figcaption{
                position: relative;
                cursor: pointer;
                .update_todo{
                    display:none;
                    &.active{
                        display:flex;
                        position: absolute;
                        z-index: 100;
                        top:0;
                        width:100%;
                        height:100%;
                        button{
                            position: absolute;
                            right:5%;
                            top:30%;
                            border:none;
                            background-color: white;
                            color:#4385F5;
                        }
                        input{
                            width:100%;
                            height:100%;
                            border-radius: 15px;    
                            border:none;
                            padding-left: 20px;
                        }
                    }
                    
                }
                >img{
                    position: absolute;
                    top:30%;
                    left:10px;
                }
                .menu{
                    transition: 0.5s;
                    &.active{
                        display:flex;
                        align-items: center;
                    gap:20px;
                    position: absolute;
                    top:25%;
                    right:10%;
                    }
                    display:none;
                    
                    
                    img{
                        width:20px;
                        height:20px;
                    }
                }
                .todo_list{
                    transition: 0.5s;
                    &.active{transform: translateX(-30%);}
                    width:100%;
                    height:60px;
                    background-color: white;
                    margin: 10px 0 20px 0;
                    display:flex;
                    align-items: center;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
                    border-radius: 15px;
                    
                    p{
                        padding: 15px 15px 15px 50px;
                    }
                }
            }
            
        }
    }
    .screenDiv::-webkit-scrollbar {
        display: none;
      }
    .past::-webkit-scrollbar {
        display: none;
      }
    .past{
        width:70%;
        margin:0 auto;
        text-align: center;
        height:200px;
        overflow: scroll;
        >div{
            >p{
                display: flex;
                        flex-basis: 100%;
                        align-items: center;
                        color: #4385F5;
                        font-size: 14px;
                        margin: 8px 0;
    
            }
            >p::before{
                content: '';
                flex-grow: 1;
                margin: 0 16px;
                background-color: #4385F5;
                height: 1px;
                font-size: 0;
                line-height: 0;
            }
            >p::after{
                content: '';
                flex-grow: 1;
                margin: 0 16px;
                background-color: #4385F5;
                height: 1px;
                font-size: 0;
                line-height: 0;
            }
            .past_data{
                display:flex;
                align-items: center;
                gap:10px;
                margin:20px 0 10px 50px;
                p{
                    color:#D2D2D4;
                }
                img{
                    width:15px;
                }
            }
        }
        
    }
}



//반응형

@include res(xl){   //1140~768
    body{
        main{
            width:80%;
        }
    }
}

@include res(l){
    body{
        main{
            width:80%;
            .root{
                div{
                    .todo{
                        .days{
                            p:nth-of-type(1){

                            }
                            p:nth-of-type(2){
                                font-size: 60px;
                            }
                            p:nth-of-type(3){
                                font-size: 30px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

@include res(m){
    body{
        main{
            width:100%;
            .root{
                div{
                    .todo{
                        .days{
                            p:nth-of-type(1){
                                font-size: 16px;
                            }
                            p:nth-of-type(2){
                                font-size: 50px;
                            }
                            p:nth-of-type(3){
                                font-size: 20px;
                            }
                        }
                        .todo_text{
                            width:90%;
                        }
                        >h2{
                            width:90%;
                        }
                        .screenDiv{
                            .todo_screen{
                                width:90%;
                            }
                        }
                        .past{
                            width:90%;
                        }
                    }
                }
            }
        }
    }
}

@include res(s){
    body{
        main{
            width:100%;
            height:100%;
            border:none;
            overflow: visible;
            .root{
                div{
                    .todo{
                        min-height: 800px;
                        .days{
                            p:nth-of-type(1){
                                font-size: 16px;
                                padding:5px;
                            }
                            p:nth-of-type(2){
                                font-size: 50px;
                            }
                            p:nth-of-type(3){
                                font-size: 20px;
                            }
                        }
                        .todo_text{
                            width:90%;
                        }
                        >h2{
                            width:90%;
                            font-size: 14px;
                        }
                        .screenDiv{
                            .todo_screen{
                                width:90%;
                                figcaption{
                                    >img{
                                        left:20px;
                                    }
                                    .todo_list{
                                        height:50px;
                                        font-size: 14px;
                                        p{
                                            padding: 15px 15px 15px 60px;
                                        }
                                    }
                                }
                            }
                        }
                        .past{
                            width:90%;
                            >div{
                                .past_data{
                                    margin: 15px 0 15px 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}